* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00aaff, #ff0055); /* Gradiente de fundo */
    font-family: 'Roboto', sans-serif;
}

.calculator {
    background: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

.display {
    background: #1e1e1e;
    color: #fff;
    padding: 20px;
    font-size: 2.5rem;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #444;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background: #555;
}

.span-two {
    grid-column: span 2;
    background: #ff9500;
}

.span-two:hover {
    background: #ffb200;
}
